{% extends "base.html" %}

{% block main_info%}
<div>
    <ul>
        <li>
            <a href="/apple">Apple</a>
        </li>
        <li>
            <a href="/chocolate">Chocolate</a>
        </li>
        <li>
            <a href="/egg">Egg</a>
        </li>
        <li>
            <a href="/grapefruit">Grapefruit</a>
        </li>
        <li>
            <a href="/oatmeal">Oatmeal</a>
        </li>
        <li>
            <a href="/add_product">Want to add new product?</a>
        </li>
    </ul>
</div>
{% endblock %}