{% extends "base.html" %}

{% block main_info%}
<div>
    <ul>
        <li>
            <a href="{{url_for('products.get_apple')}}">Apple</a>
        </li>
        <li>
            <a href="{{url_for('products.get_chocolate')}}">Chocolate</a>
        </li>
        <li>
            <a href="{{url_for('products.get_egg')}}">Egg</a>
        </li>
        <li>
            <a href="{{url_for('products.get_grapefruit')}}">Grapefruit</a>
        </li>
        <li>
            <a href="{{url_for('products.get_oatmeal')}}">Oatmeal</a>
        </li>
        <li>
            <a href="{{url_for('products.add_product')}}">Want to add new product?</a>
        </li>
    </ul>
</div>
{% endblock %}