{% extends "base.html"%}
{% from "macros.html" import funk_title_and_content%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Headphones</title>
</head>
<body>
{% block main_info%}
<div id="images">
    <img src="{{url_for('static', filename='headphones.png')}}" usemap="#image-map" width="650px" height="360px">
</div>
<div class="col-md-12 mt-md-0 mt-4  ">
    <p>{{funk_title_and_content("Headphones")}}</p>
    <p>This text have {{funk_title_and_content("Headphones") | wordcount()}} words</p>
</div>
{% endblock%}
</body>
</html>