{% extends "base.html" %}
{% block main_info%}
<div>
    <ul>>
        <li>
            <a href="{{url_for('supermarkets.supermarket_page', value='1')}}">Karavan</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.supermarket_page', value='2')}}">MOCT-city</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.supermarket_page', value='3')}}">Plaza</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.supermarket_page', value='4')}}">Pravda</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.supermarket_page', value='5')}}">Fabrika</a>
        </li>
    </ul>
</div>
{% endblock %}
