{% extends "base.html" %}

{% block main_info%}
<div>
    <ul>
        <li>
            <a href="{{url_for('supermarkets.get_karavan_page')}}">Karavan</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.get_moct_city_page')}}">MOCT-city</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.get_plaza_page')}}">Plaza</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.get_pravda_page')}}">Pravda</a>
        </li>
        <li>
            <a href="{{url_for('supermarkets.get_fabrika_page')}}">Fabrika</a>
        </li>
    </ul>
</div>
{% endblock %}